body {
  padding: 50px;
}

a {
  color: #00B7FF;
}
/* Navbar animation */
.navbar-custom {
  background-color: #333; 
  transition: background-color 0.3s;
}

.navbar-custom:hover {
  background-color: #444; 
}

/* Card animation */
.card-custom {
  transition: transform 0.3s, box-shadow 0.3s; 
}

.card-custom:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


